{% extends "admin_layout.html" %}
{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a></li>
                            <li class="breadcrumb-item"><a href="#!">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Blogs</h5>
                        <span class="d-block m-t-5">Create, Update and Delete blogs here...</span>
                    </div>
					<div class="card-header">
						<a href="{{ url_for('new_blog') }}"><button class="btn btn-primary mr-10">Add New</button></a>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Title</th>
                                        <th>Posting Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
									{% for blog in blogs %}
                                    <tr>
                                        <td>{{ blog.id }}</td>
                                        <td>{{ blog.title }}</td>
                                        <td>{{ blog.date_posted }}</td>
                                        <td><a href="/edit/{{blog.id}}/update"><button class="btn btn-outline-primary">Edit</button></a></td>
                                        <td><a href="/delete/{{blog.id}}"><button class="btn btn-outline-danger">Delete</button></a></td>
                                    </tr>
									{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ stiped-table ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>

{% endblock content %}