{% extends "admin_layout.html" %}
{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Update Profile</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a></li>
                            <li class="breadcrumb-item"><a href="#!">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
			<!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Update your profile here.</h5>
                    </div>
                    <div class="card-body">
                        <h5>Form controls</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-10">
                                <form action="" method="post">
									{{ form.hidden_tag() }}
									<div class="form-group">
										{{ form.name.label(class="form-control-label") }}
										{% if form.name.errors %}
											{{ form.name(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.name.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.name(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.email.label(class="form-control-label") }}
										{% if form.email.errors %}
											{{ form.email(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.email.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.email(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.designation.label(class="form-control-label") }}
										{% if form.designation.errors %}
											{{ form.designation(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.designation.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.designation(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.age.label(class="form-control-label") }}
										{% if form.age.errors %}
											{{ form.age(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.age.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.age(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.mobile.label(class="form-control-label") }}
										{% if form.mobile.errors %}
											{{ form.mobile(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.mobile.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.mobile(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.address.label(class="form-control-label") }}
										{% if form.address.errors %}
											{{ form.address(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.address.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.address(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.github_url.label(class="form-control-label") }}
										{% if form.github_url.errors %}
											{{ form.github_url(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.github_url.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.github_url(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.linkedin_url.label(class="form-control-label") }}
										{% if form.linkedin_url.errors %}
											{{ form.linkedin_url(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.linkedin_url.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.linkedin_url(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.fb_url.label(class="form-control-label") }}
										{% if form.fb_url.errors %}
											{{ form.fb_url(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.fb_url.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.fb_url(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.skype_id.label(class="form-control-label") }}
										{% if form.skype_id.errors %}
											{{ form.skype_id(class="form-control is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.skype_id.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.skype_id(class="form-control") }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.submit(class="btn btn-outline-info") }}
									</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}